*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.dashboard{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 60% 30%;
    grid-template-rows: 7% 88% 1fr;
    height: 100vh;
    padding: .5em;
}


/* titulo principal */
.title-principal{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.title-principal h1{
    font-size: 1.5em;
}

.title-principal h2{
    font-size: .8em;
    opacity: .2;
}

/* utils */

.utils{
    grid-column: 1/1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 1.5em;
    background-color: #ffffff0c;
    position: relative;

}

.utils ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    width: 100%;
}

.utils-li{
    width: 100%;
    height: 3em;

}

.utils-li button{
    background-color: transparent;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid #ffffff1c;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: start;
}

.utils button:hover{
    opacity: .8;
}

.button-send-emails-DEFAULT{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
}

.button-send-emails-DEFAULT button{
    border: none;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1em;
    background: rgb(143,44,255);
    background: linear-gradient(90deg, rgba(143,44,255,1) 0%, rgba(24,221,221,1) 100%);
    cursor: pointer;
}

/* información */

.data{
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 10px ;
}

.data > header{
    width: 100%;
    padding: 5px;
}

.tabla-estudios-juridicos{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ffffff0c;
    padding: 10px;
}

.tabla-estudios-juridicos header{
    padding: 10px;
    border-bottom: 1px solid #ffffff0c;

}

.tabla-estudios-juridicos > table {
    width: 100%;
    max-height: 15em;
    margin: auto;
    margin-bottom: 20px;
    overflow-y: auto; /* Solo scroll vertical */
    display: block; /* Para que overflow funcione correctamente */
    border-collapse: collapse; /* Mejora la apariencia de la tabla */
    scrollbar-color:#18dddd transparent;
    scrollbar-width: thin;
}


.tabla-estudios-juridicos > table > thead, 
.tabla-estudios-juridicos > table > tbody {
    display: block; /* Para controlar el desplazamiento separado */
}

.tabla-estudios-juridicos > table > tbody {
    max-height: 12em; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Desplazamiento vertical solo en el cuerpo */
    scrollbar-color:#18dddd transparent;
    scrollbar-width: thin;
}

.tabla-estudios-juridicos > table > tbody > tr, 
.tabla-estudios-juridicos > table > thead > tr {
    display: flex;
    width: 100%;
}


.tabla-estudios-juridicos > table > thead > tr {
    background-color: #ffffff0a; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
}

.tabla-estudios-juridicos > table > tbody tr {
    background-color: transparent; /* Color de fondo de las filas del cuerpo */
}


.tabla-estudios-juridicos tr > th, 
.tabla-estudios-juridicos tr > td {
    flex: 1 0 0;
    padding: 10px;
    text-align: center; /* Alineación del texto */
}

.tabla-estudios-juridicos tr > th:first-child, 
.tabla-estudios-juridicos tr > td:first-child{
    text-align: left;
}

.tabla-estudios-juridicos tr > th:nth-child(4),
.tabla-estudios-juridicos tr > td:nth-child(4),
.tabla-estudios-juridicos tr > th:nth-child(3),
.tabla-estudios-juridicos tr > td:nth-child(3){
    color: #18dddd;
    font-weight: bold;
}

.tabla-estudios-juridicos tr > td:nth-child(5){
    color: #c4d111;
    font-weight: bold;
}

.tabla-estudios-juridicos tr:hover {
    background-color: #ffffff1c; /* Color de fondo al pasar el mouse */
}

/* graficos */

.graficos{
    width: 80%;
    position: relative;
    padding-top: 40px;
}

.graficos h3{
    background: #18dddd;
    background: linear-gradient(90deg, rgba(24,221,221,1) 0%, rgba(143,44,255,1) 100%);
    padding: 15px 25px;
    position: absolute;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.graficos span{
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.graficos-emails{
    display: flex;
    gap: 2.5em;
    justify-content: center;
}

.graficos header{
    display: none;
}

/* aside */
.emails-enviados{
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.emails-enviados table{
    border-collapse: collapse;
}

.emails-enviados thead tr{
    background-color: #ffffff2a;
    
}

.emails-enviados tbody tr:nth-child(even){
    background-color: #ffffff11;
}


.emails-enviados tbody tr td:nth-child(3){
    color: green;
    font-weight: bold;
}

.emails-enviados tbody tr td:nth-child(4){
    font-weight: 100;
    font-size: .8em;
}

.emails-enviados tbody tr td, .emails-enviados thead tr th{
    text-align: center;
    padding: 2px 5px;
    border: none;
}

.emails-enviados tbody tr td:first-child, .emails-enviados thead tr th:first-child{
    text-align: left;
}


/* cargar estudios */

.funcionalidades{
    width: 100%;
}

.funcionalidades > header > h3{
    display: none;
}

.formularios{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
}

.cargar-estudio, .enviar-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 47%;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffffff0a;
    padding: 20px;

}

.cargar-estudio-form, .enviar-email-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.cargar-estudio-form div, .enviar-email-form div{
    display: flex;
    flex-direction: column;
}

.cargar-estudio-form div input, .enviar-email-form div input, .enviar-email-form div textarea{
    background: none;
    border: none;
    background-color: #ffffff0c;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 10px;
}

.enviar-email-form div textarea{
    height: 15em;
    resize: none;
    outline: none;
}

.cargar-estudio-form div input:focus, .enviar-email-form div input:focus{
    outline: none;
}

.cargar-estudio-form div label, .enviar-email-form div label{
    color: #18dddd;
    font-size: 1.1em;
    font-weight: bold;
}

.cargar-estudio-form button, .enviar-email-form button{
    background: none;
    border: none;
    padding: 10px;
    background: #18dddd;
    background: linear-gradient(90deg, #18dddd 0%, #8f2cff 100%);
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: transform ease-in-out .1s, opacity ease-in .1s;
}

.cargar-estudio-form button:hover, .enviar-email-form button:hover{
    transform: scale(1.01);
    opacity: .8;
}

footer{
    grid-column: 1/4;
    grid-row: 3 / 4;
    background: rgb(143,44,255);
    background: linear-gradient(90deg, rgba(143,44,255,1) 0%, rgba(24,221,221,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

